<% provide(:title, @user.name) %>
<h1 class="topname">
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
  <% if @user.microposts.count != nil %>
      <% @microposts.each do |micropost| %>
        <%= render micropost %>
      <% end %>
  <% end %>