<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write contents...", size: "40x7" %>
    <div class="submit_button">
      <%= f.submit "Post", class: "btn btn-sm btn-default" %>
    </div>
  </div>
<% end %>
