@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Fascinate');
@import url('https://fonts.googleapis.com/css?family=Asul:400,700');

html {
  overflow-y: scroll;
}
body {
  padding-top: 100px;
  font-family: 'Asul', sans-serif;
  font-weight: 400;
  background-color: #ccccff;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
/* typography */
h1 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}
p { 
	font-size: 1.5em;
	text-align: center;
}



/* header */
li {
	font-size: 1.2em;
	color: #ff99cc;
}
#header{
	color: #ff99cc;
	font-size: 20px;
}

#header:hover {
	color: #ddd;
}
/*
.dropdown {
  color: #FF99CC;
}
.dropdown:hover {
  color: #FF99CC;
}
*/

.dropdown-toggle {
  color: #ff99cc;
}
#account {
  color: #ff99cc;
  font-size:20px;
}
#dropdown-color {
  color: #ff99cc;

}




/* logo */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.0em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  font-family: 'Asul', sans-serif;
  font-weight: 700;
  color: #ff99cc;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
/*  button */
#button {
	margin-top: 40px;

}
/*  footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: right;
}


.debug_dump {
  clear: both;
  float: right;
  width: 800px;
  margin-top: 45px;
}





